#chart_div{ width: "900px", height: "500px" }
%table.table.table-striped
  %thead
    %tr
      %th Date
      %th Volume
      %th Open
      %th High
      %th Low
      %th Close
  %tbody#stage
    = render @data

