- @merc ||= nil
- @country ||= nil
.well
  :plain
    <script type="text/javascript"><!-- google_ad_client = "ca-pub-8714925533614355"; /* eRepublic Side Add */ google_ad_slot = "0365178516";
      google_ad_width = 120; google_ad_height = 240;//--> </script>
.well#merc_selection
  - @mercs.each do |c|
    %label.radio
      = radio_button_tag "merchandise", c.id, @merc == c
      = c

.well#country_selection
  - @countries.each do |c|
    %label.radio
      = radio_button_tag "country", c.id, @country == c
      = c

