- @merc ||= nil
- @country ||= nil
.well#merc_selection
  - @mercs.each do |c|
    %label.radio
      = radio_button_tag "merchandise", c.id, @merc == c
      = c

.well#country_selection
  - @countries.each do |c|
    %label.radio
      = radio_button_tag "country", c.id, @country == c
      = c

